.navbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1;

    @media (max-width: 768px) {
        display: none;
    }

}

.navbar {
    background-color: rgb(255, 255, 255);
    outline: 3px solid var(--dark-purple);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px 30px 20px 30px;
    border-radius: 60px;
    box-shadow: 5px 8px 0px 2px var(--dark-purple);
    font-weight: 500;
    font-size: 20px;
    gap: 80px;
    margin-top: 20px;
}

.navbar>a {
    text-decoration: none;
    color: #3d0066;
    font-weight: bold;
}
