/*
*  Aqui ficam os estilos que se aplicam para TODAS AS PÁGINAS.
*  Se quiser estilizar algo específico de uma página, crie um CSS separado.
*/

@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

* {
    font-family: "Hepta Slab", serif;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #F3F9FF, #B2DBFF);
    min-height: 100vh;
}
