@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

.navbar {
    background-color: white;
    outline: 3px solid #400F4F;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px 30px 20px 30px;
    border-radius: 60px;
    box-shadow: 5px 8px 0px 2px #400F4F;
    font-family: "Hepta Slab", serif;
    font-weight: 500;
    font-size: 20px;
    gap: 80px;
    top: 0;
    position: sticky;
    margin-top: 20px;
}
